body{
			font-family: 'Roboto', sans-serif;
			background-color:#dedede;
		}
		footer.main{
			margin-top:65px;
			background-color:#f9f9f9;
			height:25px;
			width:100%;
			text-align:right;
			box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
		}
		header.main{
			height:100px;
			background-color:#f9f9f9;
			margin-bottom:65px;
			box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
			text-align:center;
			margin-left:10px;
			margin-right:10px;
		}
		header.main p{
			font-size:16px;
		}
		footer.sub{
			margin-left:10px;
			margin-right:10px;
			margin-top:365px;
			padding-top:3px;
			padding-bottom:3px;
			background-color:#0B3B39;
			border-radius: 15px;
			box-shadow: -1px 2px 3px 1px #a9a9a9;
		}
		header.sub{
			margin-left:10px;
			margin-right:10px;
			height:85px;
			background-color:#0B3B39;
			border-radius: 15px;
			box-shadow: -1px 2px 3px 1px #a9a9a9;
		}
		header.sub span.title{
			font-size:40px;
			padding-left:180px;
		}
		header.sub span.score{
			font-size:25px;
			background-color:GoldenRod;
			border-radius:10px;
			padding-left:5px;
			padding-right:5px;
			margin-left:35px;
			box-shadow: -1px 2px 3px 1px #a9a9a9;
			transition: all .2s ease-in-out;
		}
		header.sub span.new{
			margin-left:15px;
			font-size:25px;
			background-color:GoldenRod;
			border-radius: 10px;
			height:35px;
			padding-left:5px;
			padding-right:5px;
			box-shadow: -1px 2px 3px 1px #a9a9a9;
			transition: all .2s ease-in-out;
		}
		header.sub span.new a{
			color:Black;
			text-decoration:none;
		}
		header.sub span.score:hover{
			background-color:Gold;
			box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
		}
		header.sub span.new:hover{
			background-color:Gold;
			box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
		}
		th.gridhead{
			height:100px;
			width:100px;
			background-color:#fcfcfc;
			border-radius: 10px;
			font-size:25px;
		}
		div.page{
			margin-right:auto;
			margin-left:auto;
			background-color:#fcfcfc;
			
		}
		div.grid{
			margin-left:30px;
			background-color:#0B3B39;
			box-shadow: -1px 2px 3px 1px #a9a9a9;
			width:400px;
			border-radius: 15px;
			padding-top:15px;
			padding-left:15px;
			padding-bottom:5px;
			padding-right:15px;
			float:left;
		}
		div.dpad{
			float:right;
			width:150px;
			height:150px;
			background-color:#0B3B39;
			margin-right:70px;
			margin-top:70px;
			box-shadow: -1px 2px 3px 1px #a9a9a9;
			padding-top:10px;
			padding-bottom:10px;
			padding-left:10px;
			padding-right:10px;
			border-radius: 15px;
		}
		th.key{
			height:45px;
			width:45px;
			border-radius:10px;
			box-shadow: -1px 2px 3px 1px #a9a9a9;
			transition: all .15s ease-in-out;
		}
		th.key:hover{
			box-shadow: -1px 2px 3px 1px #c9c9c9;
			background-color:#e1e1e1;
		}
		th.key a{
			font-size:35px;
			text-decoration:none;
			color:#0B3B39;
			transition: all .15s ease-in-out;
		}
		th.key:hover a{
			color:#e1e1e1;
		}
		article.hbox{
			margin-top:20px;
			margin-bottom:20px;
			margin-left:20px;
			margin-right:20px;
			background-color:#f3f3f3;
			box-shadow: -1px 2px 3px 1px #a9a9a9;
			height:67px;
			overflow:hidden;
			transition: height 1s;
		}
		article.hbox:hover{
			height:333px;
		}
		article.hbox h1{
			text-align:center;
		}
		article.hbox header{
			background-color:#fcfcfc;
			box-shadow: -1px 2px 3px 1px #a9a9a9;
		}
		article.textbox{
			margin-top:20px;
			margin-bottom:20px;
			margin-left:20px;
			margin-right:20px;
			background-color:#f3f3f3;
			box-shadow: -1px 2px 3px 1px #a9a9a9;
		}
		article.textbox h1{
			text-align:center;
		}
		article.textbox header{
			background-color:#fcfcfc;
			box-shadow: -1px 2px 3px 1px #a9a9a9;
		}
		div.article_body{
			margin-left:20px;
			margin-right:20px;
			margin-bottom:20px;
			background-color:#fcfcfc;
			box-shadow: -1px 2px 3px 1px #a9a9a9;
			text-align:justify;
		}
		div.hidden{
			visibility:hidden;
			font-size:4px;
		}
		p.easteregg{
			color:#fcfcfc;
			font-size:9px;
			cursor:default;
		}
		p.easteregg a{
			text-decoration:none;
			color:#fcfcfc;
			cursor:default;
		}
		div.tile_2{
			height:75px;
			width:75px;
			background-color:#eee4da;
			color:#786e64;
			border-radius: 15px;
			font-size:22px;
		}
		div.tile_4{
			height:75px;
			width:75px;
			background-color:#ece0c6;
			border-radius: 15px;
			font-size:22px;
			color:#786e64;
		}
		div.tile_8{
			height:75px;
			width:75px;
			background-color:#f2b179;
			border-radius: 15px;
			font-size:22px;
			color:White;
		}
		div.tile_16{
			height:75px;
			width:75px;
			background-color:#ef8d4c;
			border-radius: 15px;
			font-size:22px;
			color:White;
		}
		div.tile_32{
			height:75px;
			width:75px;
			background-color:#f77b61;
			border-radius: 15px;
			font-size:22px;
			color:White;
		}
		div.tile_64{
			height:75px;
			width:75px;
			background-color:#e85a36;
			border-radius: 15px;
			font-size:22px;
			color:White;
		}
		div.tile_128{
			height:75px;
			width:75px;
			background-color:#f1d96b;
			border-radius: 15px;
			font-size:22px;
			color:White;
		}
		div.tile_256{
			height:75px;
			width:75px;
			background-color:#ead34f;
			border-radius: 15px;
			font-size:22px;
			color:White;
		}
		div.tile_512{
			height:75px;
			width:75px;
			background-color:#e2c029;
			border-radius: 15px;
			font-size:22px;
			color:White;
		}
		div.tile_1024{
			height:75px;
			width:75px;
			background-color:#e4b914;
			border-radius: 15px;
			font-size:22px;
			color:White;
		}
		div.tile_2048{
			height:75px;
			width:75px;
			background-color:#efc302;
			border-radius: 15px;
			font-size:22px;
			color:White;
		}
		div.tile_max{
			height:75px;
			width:75px;
			background-color:Black;
			border-radius: 15px;
			font-size:22px;
			color:White;
		}